<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - MDBlog</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
</head>
<body>
    <nav class="uk-navbar-container uk-margin" style="margin-bottom: 0" uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">MDBlog</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li> <a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    

    <div uk-grid>
        <div class="uk-width-1-4@s">
            <div class="uk-card uk-card-body uk-padding">
                <ul class="uk-nav">
                    <li><a href="create-article" class="uk-button uk-button-secondary">Create New Post</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-3-4@s">
            <div class="uk-card uk-card-body">
                <!-- <% if(typeof session.success !== 'undefined' && session.success !== '' && session.success === true) { %>
                    <div class="uk-alert-success" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p><%= session.message %></p>
                    </div>
                <% } %>
                <% if(typeof session.success !== 'undefined' && session.success !== '' && session.success === false) { %>
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p><%= session.message %></p>
                    </div>
                <% } %> -->
                <div class="uk-child-width-1-2@s" uk-grid>
                    <% articles.forEach(function(article){ %>
                        <div>
                            <div class="uk-card uk-card-default uk-width-1">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title"><%= article.title %></h3>
                                    <small><%= article.createdAt.toLocaleDateString() %></small>
                                    <p><%= article.content.substring(0, 100) %></p>
                                </div>
                                <div class="uk-card-footer">
                                    <a href="/article/<%= article.url %>" class="uk-button uk-button-text">Read more</a>
                                    <a href="article/edit/<%= article.id %>" class="uk-margin-left" title="Edit"><span uk-icon="icon: pencil"></span></a>
                                    <a class="uk-margin-left" title="Delete" href="article/delete/<%= article.id %>"><span uk-icon="icon: trash"></span></a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
</body>
</html>